<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.orderselector">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OrderSelector">
        <activity
            android:name=".Order"
            android:exported="false"
            android:label="@string/order_button_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SelectFirst"
            android:exported="false"
            android:label="@string/select_first_button_name"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".RollDice"
            android:exported="false"
            android:label="@string/roll_dice_button_name"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".FlipCoin"
            android:exported="false"
            android:label="@string/flip_coin_button_name"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>